<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<div id='quizzy'>

</div>

  <script id="question" type="text/template">
    <h3><%= question %></h3>
      <form>
        a.) <%= a %><input type="radio" name="answer" class = "ans" id="a"><br>
        b.) <%= b %><input type="radio" name="answer" class = "ans" id="b"><br>
        c.) <%= c %><input type="radio" name="answer" class = "ans" id="c"><br>
        d.) <%= d %><input type="radio" name="answer" class = "ans" id="d"><br>
      </form>
  </script>

  <script id="results" type="text/template">
    <h3>Your Score</h3>
    <h3><%= userScore %> out of <%= total %> answered correctly.</h3>
  </script>

    <script src="vendor/JS/jquery-1.11.1.js" > </script>
    <script src="vendor/JS/underscore-min.js" > </script>
    <script src="vendor/JS/backbone-min.js" > </script>
    <script src="app/js/models/question.js"> </script>
    <script src="app/js/collections/questions.js"> </script>
    <script src="app/js/views/result-view.js"> </script>
    <script src="app/js/views/quiz-view.js"> </script>
    <script src="app/js/views/question-view.js"> </script>
    <script src="app/js/main.js"></script>
  </body>
</html>
